* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container {
    margin: 13px;
    border: solid 4px black;
}
body {
    background-color: #b0b0b0;
}
#header1 {
    background-color: #abeaab;
}
nav {
    background-color: #a7cfe6;
    color: #8096a3;
    padding: 5px 10px;
    border: 2px solid #97bfd6;
}
#nav li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    border-right;
    border: 1px solid #97bfd6
}
header, section, footer, aside, nav, article {
    display: block;
}
article {
    background-color: #ffba90;
}

#header2 {
    background: #fff8c0;
}
#section1 #column {
    
}